<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= category %>
    </title>
</head>

<body>
    <%- include('./partials/nav') %>
        <h1>
            <%= category %>
        </h1>
        <ul>
            <% menuItems.forEach(plate=> { %>
                <% if (plate.rating===5) { %>
                    <li>
                        <%= plate.name %>â­ <%= plate.rating %> stars:: <%= plate.details %>
                                    <%= plate.price %>$
                    </li>
                    <% } else{ %>
                        <li>
                            <%= plate.name %>
                                <%= plate.rating %> stars: <%= plate.details %>
                                        <%= plate.price %>$
                        </li>
                        <%}%>
                            <% }) %>
        </ul>
</body>

</html>